<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/02/05 11:41:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetJsonResponseTest.setBaseUri()[pri:0, instance:sampleLib.GetJsonResponseTest@548e7350]">&gt;&gt;setBaseUri</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/02/05 11:41:46</td>   <td>350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetJsonResponseTest.test01()[pri:0, instance:sampleLib.GetJsonResponseTest@548e7350]">test01</td> 
  <td>main@1340328248</td>   <td></td> </tr>
</table>
